.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main ; }
.item4 { grid-area: right; }

.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu main main main right right'
      'menu footer footer footer footer footer';
    grid-gap: 10px;
    background-color: black;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgb(250, 250, 250);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  #title, .item2, .item3, .item4{
    font-family: 'Noto Sans JP', sans-serif;
  }

  a:visited, a:link, a :hover{
      color:black;
  }

  a {
    text-decoration: none;
  }